.navbar {
    .nav-link {
      display: flex;
      align-items: center;
  
      i {
        margin-right: 8px;
      }
    }
  
    .btn-primary {
      display: flex;
      align-items: center;
  
      i {
        margin-right: 6px;
      }
    }
  }
  