<div class="reservation-list-dialog">
    <!-- When Reservations Exist -->
    <div *ngIf="reservations.length > 0; else noReservations" class="reservations-content">
      <p-table 
        [value]="reservations" 
        [rows]="5" 
        [paginator]="true" 
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Reservation ID</th>
            <th>Customer Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reservation>
          <tr>
            <td>{{ reservation.reservationId }}</td>
            <td>{{ reservation.userId }}</td>
            <td>{{ reservation.startDate | date:'mediumDate' }}</td>
            <td>{{ reservation.endDate | date:'mediumDate' }}</td>
            <td>{{ reservation.status }}</td>
          </tr>
        </ng-template>
      </p-table>
  
      <!-- Dialog Actions for Existing Reservations -->
      <div class="dialog-actions">
        <button 
          pButton 
          label="Cancel" 
          class="p-button-secondary" 
          (click)="closeDialog(false)"
        ></button>
        <button 
          pButton 
          label="Delete Anyway" 
          class="p-button-danger" 
          (click)="closeDialog(true)"
        ></button>
      </div>
    </div>
  
    <!-- No Reservations Template -->
    <ng-template #noReservations>
      <div class="no-reservations">
        <i class="pi pi-info-circle"></i>
        <h3>No Active Reservations</h3>
        <p>There are no active or future reservations for this vehicle.</p>
  
        <div class="dialog-actions">
          <button 
            pButton 
            label="Cancel" 
            class="p-button-secondary" 
            (click)="closeDialog(false)"
          ></button>
          <button 
            pButton 
            label="Delete" 
            class="p-button-danger" 
            (click)="closeDialog(true)"
          ></button>
        </div>
      </div>
    </ng-template>
  </div>