.vehicles-grid {
    margin-top: 2rem;
  }
  
  :host ::ng-deep {
    .p-calendar {
      width: 100%;
      
      .p-inputtext {
        width: 100%;
      }
    }
  }
  
  .btn {
    &.btn-primary {
      min-width: 150px;
    }
  }