<div class="card" style="width: 18rem;">
  <img [src]="imageUrl" class="card-img-top" alt="Vehicle Image">
  <div class="card-body">
    <h5 class="card-title">{{vehicle.brand}} {{ vehicle.model }}</h5>
    <p class="card-text">Gearbox: {{ vehicle.gearboxType }}</p>
    <p class="card-text">Daily Fee: {{ vehicle.dailyFee }}</p>
    <a *ngIf="!isAdmin" (click)="onReservation(vehicle.id)" class="btn btn-primary">
      Book Now!
    </a>
    <a *ngIf="isAdmin" (click)="onReservation(vehicle.id)" class="btn btn-primary">
      Edit
    </a>
    <a *ngIf="isAdmin" (click)="onReservation(vehicle.id)" class="btn btn-danger">
      Delete
    </a>
   
  </div>
</div>
